{% extends '/game/base_game.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <p class="alert alert-danger alert-dismissible">{{ message }}</p>
    {% endfor %}
    <div id="defenseInBuild">

        <h1 class="titre">Defense(s) en construction</h1>
        <div class="table-responsive bg-demi-transparent">
            <table class="table">
                <tr>
                    <th>Defense </th>
                    <th>Nombre</th>
                    <th>Temp restant</th>
                    <th>Action</th>
                </tr>
                {% for defense in defenses %}
                    {% if defense.endDate is not null %}
                        <tr>
                            <td>{{ defense.defense.name }}</td>
                            <td>{{ defense.nbTemp }}</td>
                            <td><p id="time"></p></td>
                            <td><p id="actionInBuild"></p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>


    </div>

    <h1 class="titre">Defenses</h1>
    <div class="table-responsive bg-demi-transparent table-responsive{-sm|-md|-lg|-xl}">

        <table class="table table-hover width90 m-auto">
        <tr>
            <th class="text-blue medium-size">Défense</th>
            <th class="text-blue medium-size text-center">Action</th>
        </tr>
        {% for defense in defenses %}
            <tr>
                {% include('game/defense/oneDefense.html.twig') %}
            </tr>

        {% endfor %}
        </table>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/countDown_defense.js') }}"> </script>
{% endblock %}